<!DOCTYPE html>
<html>
  <head>
    <title>MaiyanSample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "患者新規登録", new_admin_registration_path %>
      <h3>今は病院管理者！userのメアド</h3>
      <%= current_user.email %> 
      <%= button_to '病院管理者ログアウト', destroy_user_session_path, method: :delete %>  
    <% else %>
      <p>病院userのメアド</p>
      <%= current_user.email %>
      <%= button_to 'userログアウト', destroy_user_session_path, method: :delete %>
    <% end %>
  <% else %>
        <%= link_to "病院userログイン", new_user_session_path %>
  <% end %>

  <% if admin_signed_in? %>
    <h3>患者adminのメアド</h3>
    <%= current_admin.email %>
    <%= button_to '患者ログアウト', destroy_admin_session_path, method: :delete %>
  <% end %>

    <%# link_to "user新規登録", new_user_registration_path %>

    <%= yield %>
  </body>
</html>


  <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to "患者新規登録", new_admin_registration_path %>
      <h3>今は病院管理者!userのメアド</h3>
      <%= current_user.email %> 
      <%= button_to '病院管理者ログアウト', destroy_user_session_path, method: :delete %>  
    <% else %>
      <p>病院userのメアド</p>
      <%= current_user.email %>
      <%= button_to 'userログアウト', destroy_user_session_path, method: :delete %>
    <% end %>
  <% else %>
        <%= link_to "病院userログイン", new_user_session_path %>
  <% end %>

  <% if admin_signed_in? %>
    <h3>患者adminのメアド。患者がログインしてる！！</h3>
    <%= current_admin.email %>
    <%= button_to '患者ログアウト', destroy_admin_session_path, method: :delete %>
  <% else %>
    患者ログアウト中
  <% end %>
